body{
  background-color: var(--black-color);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content_paypal{
  color: var(--white-color);
}

.content_paypal a{
  color: blue;
}
